<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/index.css"/>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h2>Hello World</h2>

    <h2>GET</h2>
    <input type="button" id="get-btn" value="GET"/>

    <h2>POST</h2>
    <input type="text" id="user-id" placeholder="아이디를 입력해주세요"/>
    <input type="text" id="user-password" placeholder="비밀번호를 입력해주세요"/>

    <input type="button" id="post-btn" value="POST"/>

    <script src="/js/api.js"></script>
</body>
</html>